.CyclopTaskbarMainPanel {
	margin: 0;
	padding: 0; 
	border-radius: 0;
}

#CyclopTaskbarTaskbar .dash-item-container > StWidget {
	margin: 0;
	padding: 0; 
}

#CyclopTaskbarScrollview .app-well-app .overview-icon,
.CyclopTaskbarMainPanel .show-apps .overview-icon {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#CyclopTaskbarScrollview .app-well-app .overview-label {
	padding-right: 8px;
}

#CyclopTaskbarScrollview .app-well-app:hover .overview-icon,
#CyclopTaskbarScrollview .app-well-app:focus .overview-icon {
	background: none;
}

.CyclopTaskbarMainPanel .show-apps:hover .overview-icon,
#CyclopTaskbarScrollview .app-well-app:hover .dtp-container,
#CyclopTaskbarScrollview .app-well-app:focus .dtp-container {
	background-color: rgba(238, 238, 236, 0.1);
}

#CyclopTaskbarScrollview .app-well-app:active .dtp-container {
	background-color: rgba(238, 238, 236, 0.18);
}

#CyclopTaskbarScrollview .app-well-app .favorite {
	background-color: rgba(80, 150, 255, 0.4);
}

#CyclopTaskbarScrollview .app-well-app-running-dot {
	margin-bottom: 0;
}

#CyclopTaskbarTaskbar .scrollview-fade {
	background-gradient-end: rgba(0, 0, 0, 0);
}

.CyclopTaskbarSecondaryMenu {
	max-width: 400px;
}

.CyclopTaskbarMainPanel.vertical .panel-button {
	text-align: center; 
}

.CyclopTaskbarMainPanel.vertical .panel-button.vertical *,
.CyclopTaskbarMainPanel.vertical .panel-button.clock-display * {
	padding: 0;
	margin: 0; 
}

.CyclopTaskbarMainPanel.vertical .panel-button > *,
.CyclopTaskbarMainPanel.vertical .panel-button.vertical > *,
.CyclopTaskbarMainPanel.vertical .panel-button.clock-display > * {
	padding: 8px 0; 
}

#CyclopTaskbarThumbnailList {
	spacing: 0em;
	padding: 0 1em;
}

#CyclopTaskbarThumbnailList .popup-menu-item {
	padding: 0;
	border-radius: 3px;
	spacing: 0;
}

#CyclopTaskbarThumbnailList .window-box {
	padding: 0;
	spacing: 0;
}

#CyclopTaskbarThumbnailList .preview-window-title {
	padding-top: 1em;
}

.popup-menu.panel-menu {
	margin-bottom: 0;
}

.popup-menu-boxpointer .popup-menu-content {
	margin: 6px;
}

#panel #panelLeft, #panel #panelCenter {
	spacing: 0; 
	margin: 0;
	border-radius: 0;
}

.showdesktop-button-dark-hovered {
	background-color: rgba(200, 200, 200, .4);
}

.showdesktop-button-light-hovered {
	background-color: rgba(55, 55, 55, .4);
}

.panel-corner.hidden:active, .panel-corner.hidden:overview, .panel-corner.hidden:focus {
	-panel-corner-border-color: rgba(0, 0, 0, .001);
}
#CyclopTaskbarScrollview .badge {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	text-align: center;
}

#CyclopTaskbarScrollview .number-overlay {
	background-color: rgba(0,0,0,0.8);
}

#CyclopTaskbarScrollview .notification-badge {
	background-color: rgba(255,0,0,0.8);
}
